* {
  margin: 0;
  padding: 0;
  min-height: 100$%;
  background-color: rgb(204, 204, 204);
  font-family: 'Georgia', sans-serif;
  box-sizing: border-box;
}

.content {
    padding: 10px;
}

#container {
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#container header {
    height: 80px;
    width: 55%;
    padding-left: 40px;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    font-size: 3rem;
    flex: 0 0 auto;
}

#container > div {
    margin: 0px;
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    float:top;
}

#time {
    flex: 0 0 auto;
    float:top;
    padding-left: 40px;
    width: 55%;
}

#feed {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

#items {
    flex: 1 1 0;
    overflow: hidden;
    min-height: 0;
    display: flex;
    min-width: 55%;
    flex-direction: column;
    background-color: #e87400;
    color: black;
}

.item {
    margin: 0px;
    background-color: #d9d9d6)
}

#details {
    margin: 0px;
    flex: 1 1 0;
    float: right;
    width: 75%;
    color:black;
    font-size: 25px;
}